Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [ ]:
def test(list):
 list1 =[]
 list2 = []
 for i in list:
   if type(i) == int:
     list1.append(i)
   else:
      list2.append(i)
 print(list1)
 print(list2)

In [ ]:
filter_list = [1, 2, 3, "a","b" ,4]

test(filter_list)

[1, 2, 3, 4]
['a', 'b']

In [ ]:
l =["A", 0, "Edabit", 1729, "Python", "1729"]
test(l)

[0, 1729]
['A', 'Edabit', 'Python', '1729']

In [ ]:
l1= ["Nothing", "here"]
test(l1)

[]
['Nothing', 'here']

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def test1(list):
    l =[]
    for i in range(len(list)):
      l.append(i+list[i])
    print(l)

In [ ]:
l2 =[0, 0, 0, 0, 0]
test1(l2)

[0, 1, 2, 3, 4]

In [ ]:
l3 = [1,2,3,4,5]
l4 = [1,3,5,7,9]
l5 = [5,4,3,2,1]
test1(l3)
test1(l4)
test1(l5)

[1, 3, 5, 7, 9]
[1, 4, 7, 10, 13]
[5, 5, 5, 5, 5]

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [6]:
def cone_volume(h,r):
  res = (3.14*(r**2)*h)/3
  print(res)

In [7]:
cone_volume(3,2)

12.56

In [8]:
cone_volume(15,6)

565.2

In [9]:
cone_volume(18,0)

0.0

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [ ]:
def triangle (n):
  for i in range(n):

In [17]:
def triangle(n):
  sum = 0
  for i in range(n+1):
    sum += i
  print(sum)

In [18]:
triangle(1)
triangle(6)
triangle(215)

1
21
23220