Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [186]:
l = [5, 6, 7, 8, 9]
def new_list(l,num):
    if len(l) > 0 :
        l.append(num)
        return l[1:]
    else:
        print("'No list has been selected'")

In [189]:

new_list([1, 10, 20, 42 ],6)

[10, 20, 42, 6]

Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
])

In [112]:

#dict1 = [ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]
def budget(dict1):
 list =[]
 for dict in dict1:
  list.append(dict["budget"])

 print(sum(list))

In [113]:
dict1 = [ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]

In [114]:
budget(dict1)

65700

{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }

In [116]:
dict2 =[{ "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 }]

In [117]:
budget(dict2)

62600

Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup('hello') ➞ 'ehllo'
alphabet_soup('edabit') ➞ 'abdeit'
alphabet_soup('hacker') ➞ 'acehkr'
alphabet_soup('geek') ➞ 'eegk'
alphabet_soup('javascript') ➞ 'aacijprstv'

In [190]:
str = "ydder"
sorted(str)

['d', 'd', 'e', 'r', 'y']

In [191]:
def alphabet_soup(str1):
  return "".join(sorted(str1))

In [192]:
alphabet_soup('hello')

'ehllo'

In [193]:
alphabet_soup('edabit')

'abdeit'

In [194]:
alphabet_soup('hacker')

'acehkr'

In [195]:
alphabet_soup('geek')

'eegk'

In [196]:
alphabet_soup('javascript')

'aacijprstv'

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

A = P(1+(r/n)**nt
A	=	final amount
P	=	initial principal balance
r	=	interest rate
n	=	number of times interest applied per time period
t	=	number of time periods elapsed

In [197]:
def compound_interest(amt,year,interest,compound_period):
  finalamt= amt*(1+(interest/compound_period))**(year*compound_period)
  return round(finalamt,2)

In [198]:
compound_interest(100, 1, 0.05, 1)

105.0

In [199]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

In [200]:
compound_interest(3500, 15, 0.1, 4)

15399.26

Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, 'space', 'car', 'lion', 16]) ➞ [9, 2, 16]
return_only_integer(['hello', 81, 'basketball', 123, 'fox']) ➞ [81, 123]
return_only_integer([10, '121', 56, 20, 'car', 3, 'lion']) ➞ [10, 56, 20, 3]
return_only_integer(['String', True, 3.3, 1]) ➞ [1]

In [201]:
def returnint(list):
    intlist = []
    for i in list:
        if type(i) == int:
            intlist.append(i)
    return intlist

In [202]:
returnint([9, 2, 'space', 'car', 'lion', 16])

[9, 2, 16]

In [203]:
returnint(['hello', 81, 'basketball', 123, 'fox'])

[81, 123]

In [204]:
returnint([10, '121', 56, 20, 'car', 3, 'lion'])

[10, 56, 20, 3]

In [205]:
returnint(['String', True, 3.3, 1])

[1]